<form method = 'POST' >
  <p>Add a review for {{name}}</p>
  <div class="form-group">
    <label>Review</label>
    <textarea class="form-control" rows="3" name = 'content'></textarea>
  </div>
  <div class="form-group">
    <label>Stars</label>
    <select class="form-control" name = 'stars'>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
  <button input = 'submit'>Add Review</button>
</form>
